extends ../layout

block content
  .container
    h1.page-header 회원 정보
          
    ul
      li 이름: #{user.name}
      li 이메일: #{user.email}
      if user.facebook
        li Facebook 
          img.img-circle(src='#{user.facebook.photo}')
    hr
    p
      a.btn.btn-default(href='/users/') 목록
      | 
      a.btn.btn-default(href='/users/#{user._id}/edit') 수정
      | 
      a.btn.btn-default(href='/users/#{user._id}?_method=DELETE') 삭제
